<footer>
  <div id="footerbox">
      <div>© 2022 CLone - Tool to shorten a long link.</div>
  <ul>
      <li><a href="{% url 'urls:Home' %}">Localhost</a></li>
      <li>|</li>
      <li><a href="{% url 'urls:URL' %}">URL Click Counter</a></li>
      <li>|</li>
      <li><a href="{% url 'urls:Report' %}">Report Malicious URL</a></li>
      <li>|</li>
      <li><a href="{% url 'urls:Terms' %}">Terms of Service</a></li>
      <li>|</li>
      <li><a href="{% url 'urls:Privacy' %}">Privacy</a></li>
      <li>|</li>
      <li><a href="{% url 'urls:Contact' %}">Contact</a></li>
  </ul>
  </div>
</footer>
